<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Date début"
  (dateInput)="addEvent('inputFrom', $event)" (dateChange)="addEvent('changeFrom',$event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Date fin"
  (dateInput)="addEvent('inputTo', $event)" (dateChange)="addEvent('changeTo',$event)">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
