<div class="container mt-2">
  <div class="card">
    <h5 class="card-header bg-dark text-light">Se connecter</h5>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="form-group">
          <label for="username">Identifiant SI</label>
          <input type="text" name="username" class="form-control" placeholder="Entrer votre identifiant de connexion SI" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" name="password" class="form-control" placeholder="Entrer votre mot de passe" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
    </div>
  </div>
</div>
