<div class="container mt-2">
  <div class="card" *ngIf="currentUser">
      <h5 class="card-header">Edit Product</h5>
      <div class="card body">
          <form #f="ngForm" >
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" placeholder="username" [(ngModel)] = "currentUser.username">
              </div>
              <div class="form-group">
                  <label for="id">Id</label>
                  <input type="text" name="id" class="form-control" placeholder="id" [(ngModel)] = "currentUser.id">
              </div>
              <label for="role">Rôle</label>
              <div class="form-group" *ngFor="let role of currentRoles">
                  <input type="text" name="role" class="form-control" placeholder="role" value='{{role.roleName}}'>
              </div>
              <label for="appli">Applis</label>
              <div class="form-group" *ngFor="let appli of currentApplis">
                <input type="text" name="appli" class="form-control" placeholder="appli" value='{{appli.appliName}}'>
              </div>
              <button type="submit" class="btn btn-success">Update</button>
          </form>
      </div>
  </div>
</div>
