<mat-card>
  <mat-card-title>Bienvenue sur le site ! </mat-card-title>
  <mat-card-subtitle>des statistiques partout ici et là ...</mat-card-subtitle>
  <img mat-card-image [src]="statsImg" alt="statsImg">
  <mat-card-content>
    Visualiser les statistiques détaillées de votre application :
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis urna quis lorem porttitor, ac volutpat lectus tristique. Etiam non ullamcorper leo. Vestibulum rutrum massa a vulputate rhoncus. Donec porttitor odio mauris, laoreet vulputate tortor porta eu. Etiam ut placerat ante, ut luctus velit. Etiam at nisl ullamcorper, iaculis nisi in, tristique eros. Pellentesque consequat velit ut odio egestas, ac volutpat nibh fringilla. Suspendisse in ipsum in mauris varius gravida. Donec blandit suscipit eros tristique pulvinar. Integer sed lobortis nibh. Morbi maximus orci tellus, in mattis orci sagittis nec.
  </mat-card-content>
</mat-card>

