 <div class="view bg-applis">
  <div class="row">
    <div class="col-md-9 mt-2">
      <div class="nomAppli">Nom Application:&nbsp; {{nomAppli}}</div><div class="nomPublication">Nom Publication:&nbsp; {{nomContent}}</div>
      <app-datesselection></app-datesselection> <button mat-raised-button (click)="startrequest()">Start</button>
  <!--    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date début">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Date fin">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field> -->

      <table class="table" *ngIf="statsList._embedded">
        <thead >
          <tr class="thead-light text-dark" >
              <th rowspan="2" class="CellWithComment">Date <span class="CellComment">Date de la mesure</span></th>
              <th rowspan="2" class="CellWithComment">Nb Affichage <br />de la pastille <span class="CellComment">Nombre de fois où la pastille a été affichée</span></th>
              <th rowspan="2" class="CellWithComment">Nb Utilisateurs <br />ayant vu la pastille <span class="CellComment">Nombre d'utilisateurs total ayant vu la pastille</span></th>
              <th rowspan="2" class="CellWithComment">Nb d'utilisation <br />de la pastille <span class="CellComment">Nombre d'utilisation de la pastille</span></th>
              <th rowspan="2" class="CellWithComment">Nb Uilisateurs <br />ayant utilisé la pastille <span class="CellComment">Nombre d'utilisateurs uniques ayant utilisés la pastille</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cnt of statsList._embedded.statistiquesParJourDtoes">
              <td class="statTd">{{ cnt.date }}</td>
              <td class="statTd" >{{ cnt.nbAffichage }}</td>
              <td class="statTd" >{{ cnt.nbUsersAyantAffichesLaPastille }}</td>
              <td class="statTd" >{{ cnt.nbDeLectureDeLaPastille }}</td>
              <td class="statTd" >{{ cnt.nbUsersAyantLusLaPastille }}</td>
          </tr>
        </tbody>
      </table>
       <app-alert *ngIf="statsList._embedded"></app-alert>
       <app-tooltip></app-tooltip>
    </div>
  </div>
</div>

